@use '../abstract/variaveis';
@use '../abstract/mixins.scss';

.apresentacao {
    padding: 1rem 1rem 1.5rem;
    align-items: center;
    display: flex;

    .apresentacao__esquerda {
        h1 {
            @include mixins.ff-fs-cl(variaveis.$ft-italiana, 0.92rem, variaveis.$cor-principal);
        }

        strong {
            @include mixins.ff-fs-cl(variaveis.$ft-italiana, 0.96rem, variaveis.$cor-secudaria);
        }

        div {
            margin-top: 0.62rem;
            h4 {
                @include mixins.ff-fs-cl(variaveis.$ft-principal, 0.4rem, variaveis.$cor-principal);
            }
            a {
                @include mixins.create-button(variaveis.$ft-principal, 0.43rem, variaveis.$cor-terciaria, variaveis.$cor-principal);

            }
        }
    }

    img {
        @include mixins.img-size(165px, 161px);
    }
}