@use '../abstract/variaveis';
@use '../abstract/mixins';

.feedbacks {
    text-align: center;
    padding: 1rem;

    h3 {
        @include mixins.ff-fs-cl(variaveis.$ft-principal, 0.875rem, variaveis.$cor-principal);
        font-weight: 600;
    }

    h5 {
        @include mixins.ff-fs-cl(variaveis.$ft-principal, 0.5rem, variaveis.$cor-principal);
        padding-bottom: 0.7rem;
    }

    .swiper {
        width: 100%;
        max-width: 100vw;
        overflow-x: hidden;

        .swiper-wrapper {
            display: flex;

            img {
                @include mixins.img-size(6.8rem, 8rem);
                
            }
        }
    }
}