@use '../abstract/variaveis';


header {
    background: variaveis.$cor-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;

    #logo-header {
        width: 10.12rem;
        height: 3.43rem;
    }

    div {
        display: flex;
        gap: 1.25rem;
    }
}