@use '../abstract/variaveis';
@use '../abstract/mixins.scss';


header {
    background: variaveis.$cor-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    #logo-header {
        @include mixins.img-size(6.58rem, 2.22rem);
    }

    div {
        display: flex;
        gap: 1.25rem;
        img {
            @include mixins.img-size(1.5rem, 1.5rem);
        }
    }
}