    // Variaveis
    //cores
    $cor-header: #403D39;
    $cor-background: linear-gradient(to right, #252422, #403D39, #EB5E28);
    $cor-principal: #FFFCF2;
    $cor-secudaria: #EB5E28;
    $cor-terciaria: #252422;

    //Fontes
    $ft-italiana: 'Italiana', serif;
    $ft-principal: "Inter", sans-serif;